* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: Helvetica;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

form {
  margin-bottom: 20px;
}

input,
button {
  padding: 10px 20px;
  margin-right: 10px;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

button:hover { background-color: #ccc; }

form, .filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-buttons {
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

form button.send { background-color: #b5ffb5; }
form button.send:hover { background-color: #b5ffb580; }

.filter button.all { background-color: #f4ffb5; }
.filter button.all:hover { background-color: #f4ffb580; }

.filter button.all { background-color: #f4ffb5; }
.filter button.all:hover { background-color: #f4ffb580; }

.filter button.completed { background-color: #c2c2c2; }
.filter button.completed:hover { background-color: #c2c2c280; }

.filter button.incomplete { background-color: #e7e7e7; }
.filter button.incomplete:hover { background-color: #e7e7e780; }

.filter .none {
  margin: 50px 0 0 0;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  background-color: #eee;
  margin: 8px 0;
  padding: 12px;
  text-align: left;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  background-color: #c2c2c2;
}

li.incomplete {
  background-color: #e7e7e7;
}

li span {
  cursor: pointer;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

li span.line-through {
  text-decoration: line-through;
  color: #888;
}

li textarea {
  padding: 5px;
  margin-right: 10px;
  width: 100%;
  min-height: 50px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
}

li .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li button.edit {
  margin-left: 20px;
  background-color: #a5eaff;
}

li button.edit:hover {
  background-color: #a5eaff80;
}

li button.delete {
  background-color: #ffb5b5;
}

li button.delete:hover {
  background-color: #ffb5b580;
}

li button.save {
  background-color: #b5ffb5;
}

li button.save:hover {
  background-color: #b5ffb580;
}

li button.cancel {
  background-color: #ffb5b5;
}

li button.cancel:hover {
  background-color: #ffb5b580;
}

@media (max-width: 375px) {
  li .buttons {
    flex-wrap: wrap;
    justify-content: right;
  }
}