* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
}

div {
  text-align: center;
}

h1 {
  background-color: #6200ea;
  color: #fff;
  margin: 0;
  padding: 15px;
}

h2 {
  background-color: #b4b4b4;
  padding: 8px;
  border-radius: 14px;

  
}

h3 {
  background-color: #6200ea85;
  padding: 8px;
  border-radius: 14px;
}

select {
  margin: 15px;
  padding: 8px;
  border: 2px solid #6200ea;
  border-radius: 10px;
  font-size: 14px;
}

.timezone {
  margin: 15px;
  padding: 15px;

  width: 30%;

  border: 2px solid #6200ea;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: .5s;
}

.timezone:hover {
  background-color: #dbdbdb;
  cursor: default;
}

.fusos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  h2 { font-size: 18px; }
  h3 { font-size: 16px; }
}

@media (max-width: 680px) {
  h2 { font-size: 16px; }
  h3 { font-size: 14px; }
}

@media (max-width: 590px) {
  h2 { font-size: 14px; }
  h3 { font-size: 12px; }
}

@media (max-width: 530px) {
  h2 { font-size: 12px; }
  h3 { font-size: 10px; }
}

@media (max-width: 470px) {
  h2 { font-size: 10px; }
  h3 { font-size: 8px; }
}

@media (max-width: 400px) {
  .fusos {
    flex-direction: column;
  }

  .timezone {
    width: 50%;
  }
}