* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
}

#title {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  margin-top: 0;
  width: 90%;
}

.app-container img {
  max-width: 50%;
  height: auto;
}

.toolbar {
  width: 100%;
  background-color: #b9f1ff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.toolbar .buttons {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.toolbar p {
  text-align: center;
  font-weight: 700;
}

.toolbar button {
  padding: 10px;
  min-width: 10%;
  height: 50%;
  background-color: #ffffff;
  border: none;
  border: 1px solid #000;
  border-radius: 10px;
  transition: .5s;
  text-transform: uppercase;
}

.toolbar button:hover {
  cursor: pointer;
  background-color: #e6fdff
}

.main-section {
  display: flex;
  width: 100%;
  align-items: stretch;
  gap: 20px;
}

textarea, 
.dangerouslySetInnerHTML {
  flex: 1;
  min-height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  background-color: #f8f8f8;
}

textarea {
  height: auto;
  overflow: hidden;
}

textarea:focus {
  border: none;
  border-color: #b9f1ff;
}

.dangerouslySetInnerHTML {
  overflow-y: auto;
}