.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    margin: 2rem auto;
    background-color: #f8f9fa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.converter h2 {
    color: #343a40;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.converter input,
.converter select {
    width: 100%;
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    border: 3px solid #fdffa3;
}

.converter input {
    margin-bottom: 30px;
}

select#currency {
    border: 3px solid #a3d1ff;  
}

select#currency:focus {
    outline: none;
    border-color: #a3d1ff;
}

select#currency option:disabled {
    background-color: #a3ffc2;
}

select#toCurrency {
    border: 3px solid #a3ffc2;
}

select#toCurrency:focus {
    outline: none;
    border-color: #a3ffc2;
}

select#toCurrency option:disabled {
    background-color: #a3d1ff;
}

.converter p {
    margin: 0.5rem;
    font-size: 1rem;
}

.converter p {
    font-size: 1.2rem;
    word-wrap: break-word;
    width: 400px;
}

.results {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    width: 350px;
    line-height: 2.2;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.results h3 {
    margin-top: 0;
}

.results h3,
.results #fromCurrency,
.results #toCurrency {
    background-color: #fdffa3;
    padding: .5rem;
    border-radius: 10px;
}

.results #fromCurrency {
    background-color: #a3d1ff;
}

.results #toCurrency {
    background-color: #a3ffc2;
}